
body{
  background-color: #181A1B;
}

div {

  /* Formato del div */
  width: 300px;
  height: 100px;
  border-radius: 10px;
  top: 200px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10%;
  color: white;
  font-weight: bold;
  text-align: center;

  /* Animacion */
  animation-name: animacion;
  animation-duration: 3s;
  /* Se reproduce al reves */
  animation-direction: alternate;
  /* Bucle infinito */
  animation-iteration-count: infinite;
  /* Controla si es lineal o cambia de estado de golpe */
  animation-timing-function: linear;
    
}

/* "Estados" de la animacion */
@keyframes animacion {

  from {
    background-color: #2760E5;
    width: 200px;
    font-size: 6em;
  }
  50% {
    background-color: yellowgreen;
    width: 150px;
    font-size: 3em;
  }
  to {
    background-color: #0B2259;
    width: 50px;
    font-size: 3em;
  } 

}


